// Import page-specific CSS files here.
@import "home";
@import "user";
@import "register_confirmation";


.list-or-map {
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 20px;
  margin-top: 2vh;
  justify-items: center;
}

.mapbox-index {
  width: 100%;
  height: 100px;
}

.margin-bottom-body {
  margin-bottom: 7vh;
}

@media (min-width: 1400px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media (min-width: 2000px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
