.register-popup {
  width: 80vw;
}

.register-icon {
  border-color: $violet!important;
}

.register-icon div {
  color: $violet;
}

.register-title {
  font-size: 50px;
}

.register-text {
  font-size: 35px!important;
}

.register-buttons button {
  padding: 0.8em 1.6em;
  font-size: 35px!important;
}
