#user-show {
  width: 100%;
  padding: 50px;

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }
}

// pour afficher l'avatar sur la page de profil de chaque utilisateur
#user-show-avatar {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.name-age-user {
  line-height: 50px;
}

// style des users dans les favoris
#fav-user {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 160px;
  width: 90%;
  padding-right: 20px;
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#fav-user-avatar {
  width: 160px;
  height: 100%;
}

#fav-user-info {
  padding-left: 20px;

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }
}
