<h1 class="activities-h1">Tes messageries</h1>

<div class="cards">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class: "chatroom-link" do %>
      <%= render "card_chatroom_index", chatroom: chatroom %>
    <% end %>
  <% end %>
</div>
