<h1 class="activities-h1">Mes notifications</h1>
<div id="notifications">
  <% @notifications.each do |notification| %>
    <%= render "notification", notification: notification %>
  <% end %>
</div>
