<h1 class="activities-h1">Mes notifications</h1>
<%#= turbo_frame_tag "notifications" do %>
  <div id="notifications-list">
    <% @notifications.each do |notification| %>
      <%= render "notification", notification: notification %>
    <% end %>
  </div>
<%# end %>
