  <div class="sticky-top">
    <div class="search mt-1">
      <%# <input type="text" class="search__input" aria-label="search" placeholder="Rechercher une activité..."> %>

        <%= form_with url: root_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            data: {
              autocomplete: 'off'
            },
            class: "rounded-pill search__input",
            placeholder: "Rechercher une activité..."
        %>

        <% end %>
        <button class="search__submit" aria-label="submit search">
          <div class="btn-searchbar" style="background-image: url(<%= image_path "loupe.png" %>)"></div>
        </button>
    </div>
  </div>
