  <div class="sticky-top">
    <div class="search mt-1">
      <%# <input type="text" class="search__input" aria-label="search" placeholder="Rechercher une activité..."> %>

        <%= form_with url: root_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            autocomplete: 'off',
            class: "rounded-pill search__input",
            placeholder: "Rechercher une activité..."
        %>

        <% end %>
        <button class="search__submit" aria-label="submit search">
          <i class="fas fa-search"></i>
        </button>
    </div>
  </div>
