<div class=" searchbar justify-content-center  mt-1">
  <%= form_with url: root_path, method: :get, class: "d-flex form-searchbar" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control bg-primary rounded-pill",
          placeholder: "Rechercher une activité..."
      %>
    <i class="fa-solid fa-filter icon-filter" style="color: white;"></i>
  <% end %>
</div>

