.purple-btn {
  padding: 15px 30px;
  border: 1px solid $violet;
  border-radius: 10px;
  color: $violet;
  box-shadow: 4px 5px 7px 0px rgba($violet, 0.24);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;

  &:active {
    box-shadow: none;
    top: 2px;
    left: 2px;
  }
}

#report-btn {
  padding: 15px 30px;
  border: 1px solid $saumon;
  border-radius: 10px;
  color: $saumon;
  box-shadow: 4px 5px 7px 0px rgba($saumon, 0.24);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;

  &:active {
    box-shadow: none;
    top: 2px;
    left: 2px;
  }
}

.favorite-heart {
  color: $saumon;
}
