.show-card {
  width: 90vw;
  height: 83vh;
  border: 3px solid $saumon;
  border-radius: 15px;
  overflow: hidden;
  border-radius: 50px;
}

.show-card-top {
  width: 100%;
  height: 30%;
}

.show-card-top .card-img {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-card-top i {
  padding-left: 15px;
  padding-top: 15px;
  color: $saumon;
}

.show-card-top-titles {
  text-align: end;
  padding: 15px;
  padding-left: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.show-card-top-titles h1 {
  color: white;
  font-size: 70px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 5px #00000093;
}

.show-card-top-titles p {
  color: rgba(255, 255, 255, 0.622);
  font-size: 40px;
  letter-spacing: 5px;
  font-family: $headers-font;
}

.show-card-bottom {
  height: 70%;
}

.show-card-bottom p {
  font-size: 40px;
}

.show-card-bottom-user, .show-card-bottom-date, .show-card-bottom-place {
  display: flex;
  align-items: center;
  height: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 0.5px solid $saumon;
}

.show-card-bottom-user {
  position: relative;
}

.show-card-bottom-user p, .show-card-bottom-date p, .show-card-bottom-place p {
  padding-left: 15px;
  margin-bottom: 0;
}

.show-card-bottom-user a {
  width: 15%;
  text-align: center;
}

.show-card-bottom-date i, .show-card-bottom-place i {
  width: 15%;
  height: 100%;
  text-align: center;
}

.show-card-bottom-content {
  height: 25%;
  padding: 25px;
  border-bottom: 0.5px solid $saumon;
}

.show-card-bottom-content p, .show-card-bottom-participants p {
  font-size: 36px;
}

.show-card-bottom-participants {
  height: 30%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.show-card-bottom-participants-view {
  height: 50%;
}

.show-card-bottom-participants-actions {
  height: 50%;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.show-card-bottom-participants-actions .btn-participation, .show-card-bottom-participants-actions .btn-complet {
  margin-right: 40px;
  margin-bottom: 15px;
}

.btn-favorite-show {
  position: absolute;
  right: 60px;
  bottom: -50px;
}
