// --------- Card-activity view-index-list--------------

.card {
  height: 1200px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid $saumon;
  position: relative;
  z-index: 1;
  box-shadow: 4px 4px 4px 0px #00000016;
  border-radius: 10px;
  display: block;
}

.background-link {
  position: absolute;
  z-index: 2;
  inset: 0;
}

.card .card-img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#heart-index {
  position: absolute;
  display: block;
  top: 7%;
  right: 7%;
  z-index: 3;
}

#heart-index i {
  display: block;
  height: 100%;
}
//partie inférieur de la card
.card-bottom {
  position: relative;
  height: 40%;
  padding-top: 3%;
  padding-left: 5%;
}

.link-avatar-index {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 40px;
  top: 0;
  transform: translateY(-50%);
  z-index: 3;
}

.card-bottom-titles-2lines {
  width: 80%;
  padding-bottom: 3%;
  letter-spacing: 3px;
}

.card-bottom-titles-1line {
  width: 80%;
  padding-bottom: 6%;
  letter-spacing: 3px;
}

.title-card {
  width: 100%;
  letter-spacing: 3px;
  font-size: 65px;
  margin-bottom: 0;
}

.title-card p {
  font-size: 40px;
}

.card-bottom-titles p {
  margin-bottom: 0;
}

.card-bottom p {
  font-size: 37px;
}

.card-date {
  padding-top: 20px;
}
