.chatroom {
  background: white;
  margin: 9px auto;
  width: 740px;
  // height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    background-color: white;
    font-size: 40px;
    // position: sticky;
    // top: 50px;
  }

  .messages {
    max-height: 75vh; /* Hauteur maximale pour la zone de messages avec défilement */
    overflow-y: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: $saumon;
}

.receiver-style {
  background-color: $parme;
}

// style de l'input pour envoyer un message
.chatroom-input {
  // height: 50px;
  // position: sticky;
  // bottom: 0px;
  // padding-bottom: 150px;
  background-color: white;

  input {
    font-size: 30px;
  }
}
