.chatroom {
  background: white;
  margin: 9px auto;
  width: 90vw;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;


  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    background-color: white;
    font-size: 40px;
    // position: sticky;
    // top: 50px;
  }

  .messages {
    max-height: 75vh; /* Hauteur maximale pour la zone de messages avec défilement */
    overflow-y: scroll;
    padding: 1rem;
  }

  .messages p {
    font-size: 30px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  min-width: 30vw;
  max-width: 65vw;
  padding: 15px 8px 20px 8px ;
  min-height: 80px;
  margin: 15px
}

.sender-style {
  border-radius: 8px 8px 0 8px;
  background-color: $saumon;
}

.receiver-style {
  border-radius: 8px 8px 8px 0;
  background-color: $parme;
  margin-left: 30px;
}

// style de l'input pour envoyer un message
.chatroom-input {
  // height: 50px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  // padding-bottom: 150px;
  background-color: white;

  input {
    font-size: 30px;
  }
}

// notifications
.chatroom-notifications {
  width: 50px;
  height: 50px;
  background-color: $saumon;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -25px;
  color: white;
  text-align: center;
  font-size: 35px;
}
