.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba($violet, 0.2);

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }

  a {
    color: $violet;
  }
}

// Form activities/new

.form-new-activity {
  margin: 5%;

  label {
    font-size: 35px;
  }
}

.form-new-activity input, .form-new-activity select, .form-new-activity textarea  {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 30px;
}

.form-new-activity select option {
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.address-form-new, .date-form-new, .type-form-new  {
  display: grid;
}

.road-address-form-new, .date-date-form-new, .activity-type-form-new {
  grid-column: 1/4;
  padding-top: 20px;
}

.city-address-form-new, .duration-date-form-new, .participants-type-form-new {
  grid-column: 5;
  padding-top: 20px;
}

.input-content-form-new {
  padding-top: 90px;
}

.btn-form-new {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: $saumon;
  border-radius: 59px;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow: 3px 5px 4px 1px #0000002b;;
}
