.cards-my-activities a {
  width: 90vw;
}

.horizontal-card {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 160px;
  width: 100%;
  // padding-right: 20px;
  align-items: center;
}

.content-horizontal-card {
  grid-column: 1/10;
}

.chevron-horizontal-card {
  grid-column: 11;
}
