// Navbar
nav {
  height: 7vh; // Replace with the height your footer should be
  width: 100%; // Don't change
  background-color: white;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  border-top: 1px solid rgba(43, 43, 43, 0.404);
  padding-top: 15px;
  padding-bottom: 20px;
  img{
    padding: 0;
    width: 96px;
    height: 96px;
    border-radius: 5px;
  }
}

// Icons navbar
.nav-item{
  border-radius: 5px;
}
.nav-item .nav-link{
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
}

// .avatar{
//   crop: fill;
// }
// le bouton ajout d'activité
#nav-add{
  width: 140px;
  height: 140px;
  transform:translateY(-30%)
}
#nav-add img{
    width: 140px;
    height: 140px;
}


