//
.form-new-report{
  margin-top: 20px;

}
// Modification sur la partie content
.text-field-report{
  margin: auto;
  display: block;
  height: 300px;
  width: 75%;
  border-radius: 10px;

}

// Modification du bouton submit
#btn-form-report{
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 35%;
  height: 60px;
  background-color: $violet;
  color: white;
  border-radius: 10px;
}

// Modification sur le titre
.report-h1{
  margin-bottom: 100px;
}

// Modification sur le dropdown
.drop-report{
  margin-left: 124px;
  margin-bottom: 20px;
}
// Modification text juridique
.text-report{
  font-size: 20px;
  margin: auto;
  display: block;
  height: 300px;
  width: 75%;
  border-radius: 10px;
  text-align: justify;
}

// Modification avatar reports
#avatar-report img{
  border-radius: 50%;
  width: 96px;
  height: 96px;
}
