//
.form-new-report{
  margin-top: 20px;

}
// Modification sur la partie content
.text-field-report{
  margin: auto;
  display: block;
  height: 300px;
  width: 75%;
  border-radius: 10px;
  outline-color: $violet;
}

// Modification du bouton submit
#btn-form-report{
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 35%;
  height: 60px;
  background-color: $violet;
  color: white;
  border-radius: 10px;
}


// Modification text juridique
.text-report{
  font-size: 23px;
  margin: auto;
  display: block;
  width: 75%;
  text-align: justify;
  height: 275px;
}

// Modification avatar reports
#avatar-report img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid $saumon;
  object-fit: cover;
  margin-top: 30px;
}
