.side-and-nav-bar {
  position: relative;
}

// Modification global de la sidebar
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
}

.sidebar.active {
  width: 75%;
}

// Modification sur le logo
.div-logo-sidebar {
  display: flex;
  flex-direction: row-reverse;
}

.logo-sidebar {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-sidebar{
  height: 100%;
  background-color: rgba($color: #00000038, $alpha: 0.3);
  backdrop-filter: blur(1.5rem);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

// Modification des Li
.sidebar-item{
  height: 140px;
  padding: 15px;
  text-align: start;
  align-content: center;
  border-bottom: 3px solid black;

  &:last-child{
    border-bottom: none;
  }
}

// Modification des text de la Ul
.text-sidebar{
  font-size: 35px;
  padding: 5px;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
  height: 100%;

}
.text-sidebar:hover{
  background-color: rgba(0, 0, 0, 0.411);
  border: 2px solid rgba(0, 0, 0, 0.13);
  color: rgb(255, 255, 255);
}

// Modification sur l'avatar
.avatar-sidebar{
  width: 300px;
  height: 300px;
  border: 4px solid $saumon;
}
