<%# ce code permet de créer le bouton "Je participe", si on est déjà inscrit, on peut supprimer notre participation %>
<div data-controller="register" data-register-activityId-value="<%= @activity.id %>">
  <% if @activity.user != current_user %>
    <% if @my_registration %>
      <%= link_to "J'annule ma participation", registration_path(@my_registration), class: "btn-participation",
      data: { turbo_method: :delete, turbo_confirm: "Tu confirmes l'annulation de ta participation ?" } %>
    <% else %>
      <%= form_for [@activity, @registration], html: {
        data: {
          action: "submit->register#initSweetalert",
          turbo: false
        } } do |f| %>
        <%= f.submit "Je participe !", class: "btn-participation", data: { register_target: "bouton" } %>
      <% end %>
    <% end %>
  <% end %>
</div>
