<div id="btns-follow-report" class="d-flex" data-controller="friends">
  <div class="purple-btn me-4" data-action="click->friends#follow" data-friends-target="followBtn">
    <% if current_user %>
      <%= link_to toggle_favorite_user_path(user), remote: true, data: { turbo_method: :post } do %>
        <% if current_user.favorited?(user) %>
          <p><i class='fa-solid fa-heart'></i> Suivi(e)</p>
        <% else %>
          <p><i class='fa-regular fa-heart'></i> Suivre</p>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to toggle_favorite_user_path(user), remote: true, data: { turbo_method: :post } do %>
        <i class="fa-regular fa-heart"></i> Suivre
      <% end %>
    <% end %>
  </div>

  <div id="report-btn" data-action="click->friends#report">
    <%= link_to user_reports_new_path(user) do %>
      <i class="fa-solid fa-triangle-exclamation"></i> Signaler 
    <% end %>
  </div>
  
</div>
